html, body {
    width: 400px;
    padding: 0;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    font-size: .95em;
    /* background-color: aqua; */
}

.box {
    border: 1px solid lightgray;
    position:absolute;
    color: black;
    /* top: 19px;
    left: 30px; */
    background-color: #f2f2f2;
    border-radius: 3px;
    padding: 3px;
    margin-left: 15px;
    font-size: .8em;
    z-index: 1;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    border-style: inset;
    border-width: 1px;
} 

.back-btn {
    height: 30px;
    vertical-align: middle;
    left: 0;
}

.back-btn:hover {
    background-color: #f2f2f2;
}

.folder-arrow {
    height: 20px;
    vertical-align: middle;
    padding-right: 8px;
}

.list-text {
    position: absolute;
    top: 25%;
    /* vertical-align: middle; */
}

#folder-name {
    width: 95%;
    height: 10%;
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 10px;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    left: 0;
}

li {
    height: 25px;
    list-style-type: none;
    padding-top: 4px;
    padding-left: 20px;
    width: 95%;
    left: 0;
    display: flex;
    position: relative;
}

li:hover {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

.spacer {
    flex-grow: 1;
}


