html, body {
    width: 400px;
}

.box {
    border: 1px solid lightgray;
    position:absolute;
    color: black;
    /* top: 19px;
    left: 30px; */
    background-color: #f2f2f2;
    border-radius: 3px;
    padding: 3px;
    margin-left: 15px;
    font-size: .8em;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 

.back-btn {
    height: 30px;
    vertical-align: middle;
    left: 0;
}

.folder-arrow {
    height: 30px;
    vertical-align: middle;
    float: right;
}

#folder-name {
    width: 95%;
    height: 10%;
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 10px;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    left: 0;
}

li {
    list-style-type: none;
    padding: 3px;
    width: 100%;
    left: 0;
}

li:hover {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}


